@tailwind base;
@tailwind components;
@tailwind utilities;

canvas {
  width: 100vw;
  height: 100vh;
}

@keyframes slowFadeOut {
  0% {
    scale: 1;
    opacity: 1;
    display: grid;
  }
  100% {
    pointer-events: none;
    display: none;
    opacity: 0;
  }
}
